@mixin reset-button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  text-align: inherit;
  cursor: pointer;
  appearance: none;
}

@mixin reset-link {
  color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
}
