.CategoryButton {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2xs);
  width: 144px;
  height: 144px;
  border: var(--border-width-regular) solid var(--color-stroke-neutral-weak);
  border-radius: var(--radius-l);
  background-color: var(--color-bg-layer-container);
  text-align: center;

  &:not(:disabled):hover,
  &:not(:disabled):active {
    background-color: var(--color-bg-neutral-subtle-pressed);
  }

  &:disabled {
    border-color: transparent;
    background-color: var(--color-bg-disabled);
    cursor: not-allowed;

    .CategoryButtonIcon {
      opacity: var(--opacity-disabled);
    }

    .CategoryButtonLabel,
    .CategoryButtonDescription {
      color: var(--color-fg-disabled);
    }
  }
}

.CategoryButtonActive {
  border-color: var(--color-stroke-interactive-solid);
  background-color: var(--color-bg-interactive-weak);

  &:not(:disabled):hover,
  &:not(:disabled):active {
    background-color: var(--color-bg-interactive-weak-pressed);
  }

  .CategoryButtonLabel {
    color: var(--color-fg-interactive-contrast);
  }
}

.CategoryButtonIcon {
  display: inline-flex;
  width: 48px;
  height: 48px;

  :where(svg, img) {
    width: 100%;
    height: 100%;
  }
}

.CategoryButtonLabel {
  min-width: 0;
  color: var(--color-fg-neutral-muted);
}

.CategoryButtonDescription {
  min-width: 0;
  color: var(--color-fg-neutral-subtle);
}
